
* {
    font-family: 'Calibri', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
}
a {
    text-decoration: none;
    cursor: pointer;
}


@import './blocks/interpreter';
@import './blocks/primary';

