
* {
    font-family: "Uni Neue", sans-serif;
}
html {
    font-size: 1vw;
}
a {
    text-decoration: none;
    cursor: pointer;
}

@import './blocks/header';
@import './blocks/menu';
@import './blocks/interpreter';
@import './blocks/primary';
@import './blocks/modal';
@import './blocks/form';
@import './blocks/button';
@import './blocks/carusel';
@import './blocks/form';

@keyframes moveLight {
    from {
        transform: translateX(-5em) skewX(-45deg);
    }
    to {
        transform: translateX(35em) skewX(-45deg);
    }
}