.header {
    width: 85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    position: relative;
    z-index: 4;
    &__logo {
        display: flex;
        max-width: 30rem;

        &_img {
            max-width: 9.7rem;
            max-height: 4.625rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &_text {
            display: block;
            padding-top: 0.7rem;
            margin-left: 1.9rem;
            max-width: 18.313rem;
            max-height: 3.875rem;
            color: #282728;
            font-family: "Uni Neue Regular";
            font-size: 1.125rem;
            font-weight: 400;
            font-size: 0.94rem;
            
            /* Text style for "Профессион" */
            
            /* Text style for "" */
            font-family: "Uni Neue Book";
            font-weight: 300;
            font-style: normal;
            letter-spacing: 0.028rem;
            line-height: normal;
            /* Text style for "любой слож" */
            font-family: "Uni Neue Regular";
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.028rem;
            line-height: normal;
            span {
                font-family: "Uni Neue Heavy";
                font-weight: 800;
                font-style: normal;
                letter-spacing: 0.028rem;
                line-height: normal;
            }
        }
    }
    &__consultation {
        &:hover {
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }
    &__contacts {
        width: 11rem;
    }
    &__fhone {
        color: #282728;
        font-family: "Uni Neue Heavy";
        font-size: 24px;
        font-weight: 400;
        line-height: 22px;
        
    }
    &__social {
        margin-top: 0.2rem;
        margin-left: 1.3rem;
    }
}