.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 768px;
        a {
            font-size: 18px;
            font-weight: 400;
            color: #616161;
            line-height: 29px;
        }
    }
    &__phone {
        color: #141419;
        font-size: 18px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
    }
}