.primary {
    padding: 28px 0 9px 0;
    position: relative;
    
    &__element1 {
        position: absolute;
        top: 17px;
        left: 483px;
    }
    &__element2 {
        position: absolute;
        top: 152px;
        left: 1056px;
    }
    &__element3 {
        position: absolute;
        top: 300px;
        left: 1612px;
        z-index: 1;
    }
    &__element4 {
        position: absolute;
        top: 395px;
        left: 124px;    
    }
    &__element5 {
        position: absolute;
        top: 618px;
        left: 775px;
    }
    &__element6 {
        position: absolute;
        top: 675px;
        left: 1523px;
    }
    &__element7 {
        position: absolute;
        top: 748px;
        left: 313px;
    }
    &__element8 {
        position: absolute;
        top: 912px;
        left: 919px;
    }
    &__element9 {
        position: absolute;
        top: 1045px;
        left: 1849px;
    }
    &__element10 {
        position: absolute;
        top: 1093px;
        left: 495px;
    }
    &__element11{
        position: absolute;
        top: 1111px;
        left: 1356px;
    }
    &__element12 {
        position: absolute;
        top: 1198px;
        left: 80px;
    }
    &__element13 {
        position: absolute;
        top: 1402px;
        left: 1216px;
    }
    &__element14 {
        position: absolute;
        top: 1327px;
        left: 1769px;
    }
    &__element15 {
        position: absolute;
        top: 1538px;
        left: 452px;
    }
    &__element16 {
        position: absolute;
        top: 1656px;
        left: 880px;
    }
    &__element17 {
        position: absolute;
        top: 1784px;
        left: 1486px;
        z-index: 1;
    }
    &__element18 {
        position: absolute;
        top: 1874px;
        left: 136px;
    }
    &__element19 {
        position: absolute;
        top: 1961px;
        left: 1013px;
    }
    &__element20 {
        position: absolute;
        top: 2012px;
        left: 532px;
    }
    &__element21 {
        position: absolute;
        top: 2068px;
        left: 1782px;
    }
}